/exercicios/semana06/Questao01/target/
/exercicios/semana06/Questao02a04/target/
/exercicios/semana05/Questao03/target/
/exercicios/semana04/Exercicio04/target/
/exercicios/semana06parte2/Exercicio06Parte2/target/
